* {
  -moz-box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-size: 10px;
}

body {
  background-color: black;
  color: #fff;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-bottom: 5rem;
}

* {
  margin: 0;
  padding: 0;
}

#open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* like .frame in gallery.css */
#frame {
  position: absolute;
  top: var(--header-height);
  left: 0;
  width: 100%;
  bottom: var(--softkeybar-height);
  padding: 0;
  margin: 0;
  overflow: hidden;
  -moz-user-select: none;
}

#frame > .image-view {
  top: 0;  /* javascript modifies this position with a transform */
  left: 0;
  position: absolute;
  border-width: 0;
  padding: 0;
  margin: 0;
  pointer-events: none;
  -moz-user-select: none;
}

*.hidden {
  display: none !important;
}

#filename {
  /* file name is not directional and stays LTR */
  direction: ltr;
}

header h1 {
  line-height: var(--header-height);
  background: var(--header-background);
  color: var(--color-gs00);
  padding: 0 1rem;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

form[role="dialog"][data-type="confirm"] {
  position: fixed;
  z-index: 1001;
  left: 0;
  right: 0;
  top: var(--statusbar-height);
  bottom: 0;
  background: var(--color-gs00);
}

form#info-view section {
  margin-top: var(--statusbar-height);
}
.focus{
  background-color: var(--highlight-color, #00B965) !important;
}
