
[role="dialog"][data-type="action"] {
  
  background: #858585;
  overflow: hidden;
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  bottom: 40px;
  padding: 2px 2px;
  line-height: 0px;
  
  font-size: 0;
  color: #fff;
}
[role="dialog"][data-type="action"]:before {
  content: '';
  display: inline-block;
  vertical-align: top;
  width: 0.1rem;
  height: 100%;
  margin-left: -0.1rem;
}
[role="dialog"][data-type="action"] header {
  -moz-box-sizing: border-box;
  font-size: 1.7rem;
  position: absolute;
  top: 0;
  left: 0;
  right:0;
  z-index: 10;
  color: var(--color-gs90);
  background: var(--color-gs20);
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  font-weight: normal;
  padding: 0 1rem;
  height: 3rem;
  line-height: 3rem;
}
body > [role="dialog"][data-type="action"] header {
  position: relative;
  line-height: 2.9rem;
  font-size: 1.6rem;
  height: 3rem;
  background: #171717;
  text-align: left;
  left: 0;
}
[role="dialog"][data-type="action"] header h1 {
  font-size: 1.6rem;
  line-height: 4.9rem;
  text-align: left;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  overflow: hidden;
  margin: 0;
  height: 100%;
  font-weight: normal;
}
[role="dialog"][data-type="action"] > header menu[type="toolbar"] {
  height: 100%;
  float: right;
  margin: 0 -3rem 0 1rem;
  padding: 0;
}
[role="dialog"][data-type="action"] > header menu[type="toolbar"] a,
[role="dialog"][data-type="action"] > header menu[type="toolbar"] button {
  -moz-box-sizing: border-box;
  position: relative;
  float: left;
  width: auto;
  min-width: 5rem;
  height: 4.9rem;
  margin-bottom: 0;
  padding: 0 1rem;
  border-radius: 0;
  line-height: 4.9rem;
  background: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
}
[role="dialog"][data-type="action"] > header a,
[role="dialog"][data-type="action"] > header button {
  border: none;
  padding: 0;
  overflow: hidden;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.1em;
  color: #fff;
  border-radius: 0;
  text-decoration: none;
}
[role="dialog"][data-type="action"] button::-moz-focus-inner {
  outline: none;
  border: none;
}
[role="dialog"][data-type="action"] > header a:active .icon:after,
[role="dialog"][data-type="action"] > header button:active .icon:after,
[role="dialog"][data-type="action"] > header menu[type="toolbar"] a:active,
[role="dialog"][data-type="action"] > header menu[type="toolbar"] button:active  {
  background: #008aaa !important;
}
[role="dialog"][data-type="action"] > header menu[type="toolbar"] a[aria-disabled="true"],
[role="dialog"][data-type="action"] > header menu[type="toolbar"] button[disabled]  {
  opacity: 0.5;
  pointer-events: none;
}
[role="dialog"][data-type="action"] > header .icon {
  position: relative;
  float: none;
  display: inline-block;
  vertical-align: top;
  width: 4rem;
  height: 4.9rem;
  margin: 0 -1rem;
  background: transparent no-repeat center center / 3rem auto;
  font-size: 0;
  overflow: hidden;
}
[role="dialog"][data-type="action"] > header .icon.icon-close {
  background-image: url(action_menu/images/icons/close.png);
}
[role="dialog"][data-type="action"] > header .icon.icon-back {
  background-image: url(action_menu/images/icons/back.png);
}
[role="dialog"][data-type="action"] > header > button,
[role="dialog"][data-type="action"] > header > a {
  float: left;
  width: 5rem;
  height: 4.9rem;
  background: none;
  overflow: visible;
  margin: 0 -1rem 0 -3rem;
  position: relative;
}
[role="dialog"][data-type="action"] > header > button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
[role="dialog"][data-type="action"] > header > button .icon,
[role="dialog"][data-type="action"] > header > a .icon {
  position: static;
  display: block;
  width: 3rem;
  height: 4.9rem;
  margin: 0;
  overflow: visible;
  font-size: 0;
}
[role="dialog"][data-type="action"] > header > button .icon:after,
[role="dialog"][data-type="action"] > header > a .icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  width: 3rem;
  height: 4.9rem;
}
[role="dialog"][data-type="action"] > section {
  color: #fff;
  position: absolute;
  top: 7rem;
  left: 1.5rem;
  right: 1.5rem;
  bottom: 2rem;
  font-size: 1.6rem;
  overflow: scroll;
}
[role="dialog"][data-type="action"] > menu {
  margin: 0;
  padding: 0;
  
  height: auto;
  
  overflow: auto;
  width: auto;
  border: none;
  background: none;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
}
[role="dialog"][data-type="action"] > menu[data-subtype="submenu"] {
  position: absolute;
  background-color: #333333;
}
[role="dialog"][data-type="action"] > menu.submenu-displayed {
  opacity: 1;
  background:   #7f7f7f !important;
}
[role="dialog"][data-type="action"] > menu > button.submenu-owner {
  background-color: #333333;
}
[role="dialog"][data-type="action"] > menu > button[data-hasmenu="true"]:after {
  position:absolute;
  content: ">";
  left: 260px;
  font-size: 3rem;
}
[role="dialog"][data-type="action"] > menu > button {
  width: 100% ;
  height: 5.37rem;
  -moz-box-sizing: border-box;
  vertical-align: middle;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1;
  outline: none;
  text-shadow: none;
  text-align: start;
  padding: 2px 12px 0;
  margin: 0;
  background: transparent;
  border: none;
  border-radius: 0;
  position: relative;
  font-family: "Open Sans";
}
[role="dialog"][data-type="action"] > menu > button:active {
  background: #00aacc;
  color: #fff;
}
[role="dialog"][data-type="action"] > menu > button[disabled] {
  background-color: rgba(87, 87, 87, 0.8);
  color: rgba(255, 255, 255, 0.4);
  opacity: 0.5;
  pointer-events: none;
}
[role="dialog"][data-type="action"] > menu > button[disabled]:last-child {
  background-color: #e7e7e7;
  color: #a6a6a6;
  opacity: 1;
}
html[dir="rtl"] [role="dialog"][data-type="action"]:before {
  margin-left: auto;
  margin-right: -0.1rem;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header h1 {
  text-align: right;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] {
  float: left;
  margin-left: -3rem;
  margin-right: 1rem;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] a,
html[dir="rtl"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] button {
  float: right;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] a:last-child,
html[dir="rtl"] [role="dialog"][data-type="action"] > header menu[type="toolbar"] button:last-child {
  background-position: right center;
  margin-left: auto;
  margin-right: -0.1rem;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header > button,
html[dir="rtl"] [role="dialog"][data-type="action"] > header > a {
  float: right;
  margin-left: -1rem;
  margin-right: -3rem;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header > button:after,
html[dir="rtl"] [role="dialog"][data-type="action"] > header > a:after {
  left: auto;
  right: 0;
  background-position: 0 top;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > header > button .icon:after,
html[dir="rtl"] [role="dialog"][data-type="action"] > header > a .icon:after {
  left: auto;
  right: 0;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > menu > button:last-child {
  left: auto;
  right: 0;
}
html[dir="rtl"] [role="dialog"][data-type="action"] > menu > button:last-child:before {
  left: auto;
  right: 0;
}
[role="dialog"][data-type="action"] > menu > button.focus {
  
  background: #00aacc;
  color: #fff;
}
[role="dialog"][data-type="action"].softkey {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
}
[role="dialog"][data-type="action"].softkey:before {
  height: auto;
}
[role="dialog"][data-type="action"].softkey header {
  height: auto;
  line-height: 1;
  padding: 0.5rem 1.2rem;
  font-size: 1.8rem;
  background: var(--color-gs20);
  color: var(--color-gs90);
}
[role="dialog"][data-type="action"].softkey menu[data-subtype="submenu"] header {
  text-align: center !important;
}
[role="dialog"][data-type="action"].softkey > menu {
  background: var(--color-gs00);
  position: fixed;
  max-height: calc(100% - 4.8rem - var(--statusbar-softkeybar-height));
}
[role="dialog"][data-type="action"].softkey > menu > button {
  color: var(--color-gs90);
}
[role="dialog"][data-type="action"].softkey > menu > button.focus {
  color: var(--color-gs00);
}
[role="dialog"][data-type="action"].softkey > menu.hidden {
  visibility: hidden !important;
  display: inherit !important;
}
[role="dialog"][data-type="action"].softkey h1 {
  margin: 0;
  color: var(--color-gs90);
  background: var(--color-gs20);
  width: 100%;
  height: 2.8rem;
  line-height: 2.8rem;
  text-align: center;
  position: fixed;
  right: 0;
}
@media only screen and (orientation: landscape) {
  [role="dialog"][data-type="action"] > menu > button[data-hasmenu="true"]::after {
    font-family: "gaia-icons";
    content: "forward";
    top: calc(50% - 1.5rem);
    right: 0.5rem;
    left: auto;
    font-size: 3.2rem;
  }
}
