#secondary_screen {
	display: none;
	background-color: transparent;
	color: black;
	height: 100%;
}

#secondary_screen.show {
	display: block !important;
}

#secondary_screen > canvas {
	background-color: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	border: 2px solid black;
}