html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 10px;
  overflow: hidden;
}

:root {
  --font-p-pri: 1.7rem;
  --font-p-sec: 1.4rem;
}

.large-text {
  --font-p-pri: 2.2rem;
  --font-p-sec: 1.8rem;
}

body > section {
  position: fixed;
  top: var(--statusbar-height);
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.focus *{
  color: #fff !important;
}

/* No downloads message */

#no-downloads {

  text-align: center;
  display: none;
}

body[data-downloads="0"] #no-downloads {
  display: flex;
  height: calc(100% - var(--statusbar-softkeybar-height) - var(--header-height));
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: center;
}

#no-downloads span {
  font-size: var(--font-p-pri);
  color: var(--color-gs90);
  text-align: center;
  display: block;
}

/* List of downloads */

#downloads {
  width: 100%;
  height: calc(100% - var(--statusbar-softkeybar-height) - var(--header-height));
  overflow-y: scroll;
  will-change: scroll-position;
  padding: 0 !important;
}

#downloads ul li {
  padding: 0 1rem !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Only <li> elements are touchable */
#downloads li p {
  pointer-events: none;
  font-size: var(--font-p-pri);
}

#downloads li .info {
  font-size: var(--font-p-sec);
  line-height: 1.9rem;
}
