<element name="about-eula" extends="section">
  <template>
    <gaia-header data-href="#about-legal">
      <h1 data-l10n-id="eula-privacy-title"></h1>
    </gaia-header>

    <div id="develop-eula"></div>

    <panel data-path="panels/about_legal/about_panel"></panel>

  </template>
</element>
