<element name="wifi_known_networks" extends="section">
  <template>

     <gaia-header data-href="#wifi-manageNetworks">
        <h1 data-l10n-id="knownNetworks"></h1>
      </gaia-header>
      <div class="panel">
        <ul role="menuitem" class="wifi-knownNetworks" data-state="ready"></ul>
      </div>
      <panel data-path="panels/wifi_known_networks/panel"></panel>

  </template>
</element>
