<element name="fxa-change-password" extends="section">
  <template>
    <section class="vertical">
      <p data-l10n-id="fxa-change-password-description"></p>
      <ul class="tcl-nav-box">
        <li role="menuitem">
          <label for="fxa-pw-input" data-l10n-id="fxa-password">Password</label>
          <input id="fxa-pw-input" maxlength="20" data-l10n-id="fxa-password" x-inputmode="verbatim" type="password">
        </li>
        <li role="menuitem">
          <label for="fxa-new-pw-input" data-l10n-id="fxa-new-password">New Password</label>
          <input id="fxa-new-pw-input" maxlength="20" data-l10n-id="fxa-password" x-inputmode="verbatim" type="password">
        </li>
        <li role="menuitem">
          <label for="fxa-confirm-pw-input" data-l10n-id="fxa-confirm-password">Confirm Password</label>
          <input id="fxa-confirm-pw-input" maxlength="20" data-l10n-id="fxa-password" x-inputmode="verbatim" type="password">
        </li>
        <li role="menuitem">
          <label class="pack-checkbox" for="fxa-show-pw">
            <input id="fxa-show-pw" type="checkbox"/>
            <span data-l10n-id="fxa-show-password"></span>
          </label>
        </li>
      </ul>
      <script src="js/screens/fxam_change_password.js"></script>
    </section>
  </template>
</element>
